In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
income_csv = "datasets/ZipCode_Income/2019HouseholdIncome.csv"
income_df = pd.read_csv(income_csv)
income_df.head()

C:\Users\Henry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,34,35,66,67,98,99) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,8600000US35004,ZCTA5 35004,4624,325,4.3,2.2,1.5,1.3,6.4,3.1,...,39716,6273,46240,7397,(X),(X),(X),(X),33.2,(X)
2,8600000US35005,ZCTA5 35005,2697,242,7.0,3.1,6.8,3.1,11.8,3.3,...,24233,3545,30659,4539,(X),(X),(X),(X),42.5,(X)
3,8600000US35006,ZCTA5 35006,1018,117,7.0,4.4,2.0,1.8,11.5,5.9,...,24340,9772,66897,60437,(X),(X),(X),(X),37.8,(X)
4,8600000US35007,ZCTA5 35007,9292,431,4.3,1.4,2.2,1.1,7.2,1.9,...,40685,5827,50534,5043,(X),(X),(X),(X),29.4,(X)

In [3]:
income_df.columns = income_df.iloc[0]
income_df.drop(index=0, inplace=True)
income_df.head()

,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to $24,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
1,8600000US35004,ZCTA5 35004,4624,325,4.3,2.2,1.5,1.3,6.4,3.1,...,39716,6273,46240,7397,(X),(X),(X),(X),33.2,(X)
2,8600000US35005,ZCTA5 35005,2697,242,7.0,3.1,6.8,3.1,11.8,3.3,...,24233,3545,30659,4539,(X),(X),(X),(X),42.5,(X)
3,8600000US35006,ZCTA5 35006,1018,117,7.0,4.4,2.0,1.8,11.5,5.9,...,24340,9772,66897,60437,(X),(X),(X),(X),37.8,(X)
4,8600000US35007,ZCTA5 35007,9292,431,4.3,1.4,2.2,1.1,7.2,1.9,...,40685,5827,50534,5043,(X),(X),(X),(X),29.4,(X)
5,8600000US35010,ZCTA5 35010,7987,454,8.8,2.2,7.6,2.8,13.7,3.9,...,21261,4113,30357,5537,(X),(X),(X),(X),33.4,(X)

In [4]:
columnsToKeep = [column for column in income_df.columns if column[:6] != 'Margin']
incomeNoMOE_df = income_df[columnsToKeep]
incomeNoMOE_df

,id,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
1,8600000US35004,ZCTA5 35004,4624,4.3,1.5,6.4,11.1,14.0,24.2,11.4,...,18.7,12.7,4.2,0.8,0.0,39716,46240,(X),(X),33.2
2,8600000US35005,ZCTA5 35005,2697,7.0,6.8,11.8,10.9,13.1,20.8,11.1,...,13.4,5.4,1.2,0.0,0.0,24233,30659,(X),(X),42.5
3,8600000US35006,ZCTA5 35006,1018,7.0,2.0,11.5,10.2,15.1,17.3,12.2,...,5.0,5.5,0.0,0.0,3.5,24340,66897,(X),(X),37.8
4,8600000US35007,ZCTA5 35007,9292,4.3,2.2,7.2,5.0,12.6,20.0,17.0,...,22.7,7.7,10.2,1.5,0.6,40685,50534,(X),(X),29.4
5,8600000US35010,ZCTA5 35010,7987,8.8,7.6,13.7,12.0,13.2,18.9,10.1,...,4.5,5.0,0.5,0.3,1.2,21261,30357,(X),(X),33.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,8600000US00979,ZCTA5 00979,8197,9.0,5.7,18.9,16.8,11.7,17.0,8.1,...,15.5,6.2,5.4,0.5,2.2,27249,45444,(X),(X),37.2
33117,8600000US00982,ZCTA5 00982,5910,22.0,8.2,20.0,14.3,18.7,11.1,3.5,...,7.8,0.4,0.4,0.0,0.0,19152,22151,(X),(X),38.2
33118,8600000US00983,ZCTA5 00983,13284,19.9,10.3,18.8,13.9,14.3,14.7,3.8,...,6.5,0.7,0.9,0.3,0.3,18258,22868,(X),(X),29.2
33119,8600000US00985,ZCTA5 00985,12166,19.9,9.5,18.6,14.6,15.4,14.3,4.1,...,5.7,0.9,1.1,0.0,0.4,15090,22909,(X),(X),26.4
33120,8600000US00987,ZCTA5 00987,20567,16.2,8.4,14.4,13.4,14.8,16.7,8.3,...,11.0,3.0,2.6,0.0,0.3,17475,26885,(X),(X),24.1

In [5]:
incomeFinal = incomeNoMOE_df.iloc[:, 1:15]
incomeFinal

,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars)
1,ZCTA5 35004,4624,4.3,1.5,6.4,11.1,14.0,24.2,11.4,20.4,5.3,1.3,62902,71145
2,ZCTA5 35005,2697,7.0,6.8,11.8,10.9,13.1,20.8,11.1,15.1,2.5,1.0,50473,60551
3,ZCTA5 35006,1018,7.0,2.0,11.5,10.2,15.1,17.3,12.2,19.1,5.0,0.7,55909,72128
4,ZCTA5 35007,9292,4.3,2.2,7.2,5.0,12.6,20.0,17.0,23.9,5.1,2.7,73587,81551
5,ZCTA5 35010,7987,8.8,7.6,13.7,12.0,13.2,18.9,10.1,9.4,3.2,3.1,41954,59677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,ZCTA5 00979,8197,9.0,5.7,18.9,16.8,11.7,17.0,8.1,7.8,1.2,3.9,34701,57878
33117,ZCTA5 00982,5910,22.0,8.2,20.0,14.3,18.7,11.1,3.5,1.3,0.6,0.3,24895,30703
33118,ZCTA5 00983,13284,19.9,10.3,18.8,13.9,14.3,14.7,3.8,2.7,0.8,0.7,25750,36008
33119,ZCTA5 00985,12166,19.9,9.5,18.6,14.6,15.4,14.3,4.1,3.2,0.1,0.2,26156,33840
33120,ZCTA5 00987,20567,16.2,8.4,14.4,13.4,14.8,16.7,8.3,5.2,1.5,1.2,32555,45000

In [6]:
incomeFinal.columns = [column.replace("Geographic Area Name", "Zip Code") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace("Estimate!!Households!!", "") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace("Total!!", "Percentage of Households ") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace("Total", "Number of Households") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace(" to ", "-") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace(" ", "_") for column in incomeFinal.columns]
incomeFinal.columns = [column.replace("_(dollars)", "") for column in incomeFinal.columns]
incomeFinal.head()

,Zip_Code,Number_of_Households,"Percentage_of_Households_Less_than_$10,000","Percentage_of_Households_$10,000-$14,999","Percentage_of_Households_$15,000-$24,999","Percentage_of_Households_$25,000-$34,999","Percentage_of_Households_$35,000-$49,999","Percentage_of_Households_$50,000-$74,999","Percentage_of_Households_$75,000-$99,999","Percentage_of_Households_$100,000-$149,999","Percentage_of_Households_$150,000-$199,999","Percentage_of_Households_$200,000_or_more",Median_income,Mean_income
1,ZCTA5 35004,4624,4.3,1.5,6.4,11.1,14.0,24.2,11.4,20.4,5.3,1.3,62902,71145
2,ZCTA5 35005,2697,7.0,6.8,11.8,10.9,13.1,20.8,11.1,15.1,2.5,1.0,50473,60551
3,ZCTA5 35006,1018,7.0,2.0,11.5,10.2,15.1,17.3,12.2,19.1,5.0,0.7,55909,72128
4,ZCTA5 35007,9292,4.3,2.2,7.2,5.0,12.6,20.0,17.0,23.9,5.1,2.7,73587,81551
5,ZCTA5 35010,7987,8.8,7.6,13.7,12.0,13.2,18.9,10.1,9.4,3.2,3.1,41954,59677

In [7]:
incomeFinal.loc[:, "Zip_Code"] = incomeFinal.loc[:, "Zip_Code"].str.replace("ZCTA5 ", "")
incomeFinal.head()

C:\Users\Henry\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,Zip_Code,Number_of_Households,"Percentage_of_Households_Less_than_$10,000","Percentage_of_Households_$10,000-$14,999","Percentage_of_Households_$15,000-$24,999","Percentage_of_Households_$25,000-$34,999","Percentage_of_Households_$35,000-$49,999","Percentage_of_Households_$50,000-$74,999","Percentage_of_Households_$75,000-$99,999","Percentage_of_Households_$100,000-$149,999","Percentage_of_Households_$150,000-$199,999","Percentage_of_Households_$200,000_or_more",Median_income,Mean_income
1,35004,4624,4.3,1.5,6.4,11.1,14.0,24.2,11.4,20.4,5.3,1.3,62902,71145
2,35005,2697,7.0,6.8,11.8,10.9,13.1,20.8,11.1,15.1,2.5,1.0,50473,60551
3,35006,1018,7.0,2.0,11.5,10.2,15.1,17.3,12.2,19.1,5.0,0.7,55909,72128
4,35007,9292,4.3,2.2,7.2,5.0,12.6,20.0,17.0,23.9,5.1,2.7,73587,81551
5,35010,7987,8.8,7.6,13.7,12.0,13.2,18.9,10.1,9.4,3.2,3.1,41954,59677

In [8]:
carSales_csv = "datasets/used_car_sales.csv"
carSales_df = pd.read_csv(carSales_csv)
carSales_df.head()

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType
0,137178,7500,2020,786**,84430,Ford,Mustang,1988,LX,5.0L Gas V8,Sedan,0,RWD
1,96705,15000,2019,81006,0,Replica/Kit Makes,Jaguar Beck Lister,1958,NaN,383 Fuel injected,Convertible,8,RWD
2,119660,8750,2020,33449,55000,Jaguar,XJS,1995,2+2 Cabriolet,4.0L In-Line 6 Cylinder,Convertible,6,RWD
3,80773,11600,2019,07852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD
4,64287,44000,2019,07728,40703,Porsche,911,2002,Turbo X-50,3.6L,Coupe,6,AWD

In [9]:
#drop unnecessary columns
carSales_df = carSales_df.drop(["ID"],axis=1)
carSales_df = carSales_df.drop(["DriveType"],axis=1)
carSales_df = carSales_df.drop(["BodyType"], axis=1)
carSales_df = carSales_df.drop(["Trim"], axis=1)
carSales_df = carSales_df.drop(["Engine"],axis=1)
carSales_df = carSales_df.drop(["NumCylinders"],axis=1)

carSales_df.head()

,pricesold,yearsold,zipcode,Mileage,Make,Model,Year
0,7500,2020,786**,84430,Ford,Mustang,1988
1,15000,2019,81006,0,Replica/Kit Makes,Jaguar Beck Lister,1958
2,8750,2020,33449,55000,Jaguar,XJS,1995
3,11600,2019,07852,97200,Ford,Mustang,1968
4,44000,2019,07728,40703,Porsche,911,2002

In [10]:
#find count for cleaning
carSales_df.count()

pricesold    122144
yearsold     122144
zipcode      121235
Mileage      122144
Make         122144
Model        121571
Year         122144
dtype: int64

In [11]:
#rename columns and drop rows with missing values
clean_car_df = carSales_df.rename(columns={'pricesold':'Price_Sold','yearsold':'Year_Sold','zipcode':'Zip_Code'},inplace=False)
cleaned_df= clean_car_df.dropna()
cleaned_df.count()

Price_Sold    120668
Year_Sold     120668
Zip_Code      120668
Mileage       120668
Make          120668
Model         120668
Year          120668
dtype: int64

In [12]:
#bring zip code to the first column as we are basing our "analysis" on it
cleaned_df = cleaned_df[["Zip_Code","Price_Sold","Mileage","Make","Model","Year","Year_Sold"]]
cleaned_df.head()

,Zip_Code,Price_Sold,Mileage,Make,Model,Year,Year_Sold
0,786**,7500,84430,Ford,Mustang,1988,2020
1,81006,15000,0,Replica/Kit Makes,Jaguar Beck Lister,1958,2019
2,33449,8750,55000,Jaguar,XJS,1995,2020
3,07852,11600,97200,Ford,Mustang,1968,2019
4,07728,44000,40703,Porsche,911,2002,2019

In [13]:
#filter out 2019 data for "comparison" with 2019 census data
cleaned_df_2019 = cleaned_df[cleaned_df["Year_Sold"] == 2019]
#remove Year_Sold column
cleaned_df_2019 = cleaned_df_2019.drop(["Year_Sold"],axis=1)
#show finished product
cleaned_df_2019.head()

  Zip_Code  Price_Sold  Mileage               Make               Model  Year
1    81006       15000        0  Replica/Kit Makes  Jaguar Beck Lister  1958
3    07852       11600    97200               Ford             Mustang  1968
4    07728       44000    40703            Porsche                 911  2002
7    07627       70000     6500         Land Rover            Defender  1997
8    07043        1330   167000              Honda               Civic  2001

In [14]:
rds_connection_string = "postgres:<insertPassword>@localhost:5432/used_car_sales"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['used_car_sales', 'household_income']

In [15]:
cleaned_df_2019.to_sql(name='used_car_sales', con=engine, if_exists='append', index=False)

In [16]:
incomeFinal.to_sql(name='household_income', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Median_income" of relation "household_income" does not exist
LINE 1: ...99", "Percentage_of_Households_$200,000_or_more", "Median_in...
                                                             ^

[SQL: INSERT INTO household_income ("Zip_Code", "Number_of_Households", "Percentage_of_Households_Less_than_$10,000", "Percentage_of_Households_$10,000-$14,999", "Percentage_of_Households_$15,000-$24,999", "Percentage_of_Households_$25,000-$34,999", "Percentage_of_Households_$35,000-$49,999", "Percentage_of_Households_$50,000-$74,999", "Percentage_of_Households_$75,000-$99,999", "Percentage_of_Households_$100,000-$149,999", "Percentage_of_Households_$150,000-$199,999", "Percentage_of_Households_$200,000_or_more", "Median_income", "Mean_income") VALUES (%(Zip_Code)s, %(Number_of_Households)s, %(Percentage_of_Households_Less_than_$10,000)s, %(Percentage_of_Households_$10,000-$14,999)s, %(Percentage_of_Households_$15,000-$24,999)s, %(Percentage_of_Households_$25,000-$34,999)s, %(Percentage_of_Households_$35,000-$49,999)s, %(Percentage_of_Households_$50,000-$74,999)s, %(Percentage_of_Households_$75,000-$99,999)s, %(Percentage_of_Households_$100,000-$149,999)s, %(Percentage_of_Households_$150,000-$199,999)s, %(Percentage_of_Households_$200,000_or_more)s, %(Median_income)s, %(Mean_income)s)]
[parameters: ({'Zip_Code': '35004', 'Number_of_Households': '4624', 'Percentage_of_Households_Less_than_$10,000': '4.3', 'Percentage_of_Households_$10,000-$14,999': '1.5', 'Percentage_of_Households_$15,000-$24,999': '6.4', 'Percentage_of_Households_$25,000-$34,999': '11.1', 'Percentage_of_Households_$35,000-$49,999': '14.0', 'Percentage_of_Households_$50,000-$74,999': '24.2', 'Percentage_of_Households_$75,000-$99,999': '11.4', 'Percentage_of_Households_$100,000-$149,999': '20.4', 'Percentage_of_Households_$150,000-$199,999': '5.3', 'Percentage_of_Households_$200,000_or_more': '1.3', 'Median_income': '62902', 'Mean_income': '71145'}, {'Zip_Code': '35005', 'Number_of_Households': '2697', 'Percentage_of_Households_Less_than_$10,000': '7.0', 'Percentage_of_Households_$10,000-$14,999': '6.8', 'Percentage_of_Households_$15,000-$24,999': '11.8', 'Percentage_of_Households_$25,000-$34,999': '10.9', 'Percentage_of_Households_$35,000-$49,999': '13.1', 'Percentage_of_Households_$50,000-$74,999': '20.8', 'Percentage_of_Households_$75,000-$99,999': '11.1', 'Percentage_of_Households_$100,000-$149,999': '15.1', 'Percentage_of_Households_$150,000-$199,999': '2.5', 'Percentage_of_Households_$200,000_or_more': '1.0', 'Median_income': '50473', 'Mean_income': '60551'}, {'Zip_Code': '35006', 'Number_of_Households': '1018', 'Percentage_of_Households_Less_than_$10,000': '7.0', 'Percentage_of_Households_$10,000-$14,999': '2.0', 'Percentage_of_Households_$15,000-$24,999': '11.5', 'Percentage_of_Households_$25,000-$34,999': '10.2', 'Percentage_of_Households_$35,000-$49,999': '15.1', 'Percentage_of_Households_$50,000-$74,999': '17.3', 'Percentage_of_Households_$75,000-$99,999': '12.2', 'Percentage_of_Households_$100,000-$149,999': '19.1', 'Percentage_of_Households_$150,000-$199,999': '5.0', 'Percentage_of_Households_$200,000_or_more': '0.7', 'Median_income': '55909', 'Mean_income': '72128'}, {'Zip_Code': '35007', 'Number_of_Households': '9292', 'Percentage_of_Households_Less_than_$10,000': '4.3', 'Percentage_of_Households_$10,000-$14,999': '2.2', 'Percentage_of_Households_$15,000-$24,999': '7.2', 'Percentage_of_Households_$25,000-$34,999': '5.0', 'Percentage_of_Households_$35,000-$49,999': '12.6', 'Percentage_of_Households_$50,000-$74,999': '20.0', 'Percentage_of_Households_$75,000-$99,999': '17.0', 'Percentage_of_Households_$100,000-$149,999': '23.9', 'Percentage_of_Households_$150,000-$199,999': '5.1', 'Percentage_of_Households_$200,000_or_more': '2.7', 'Median_income': '73587', 'Mean_income': '81551'}, {'Zip_Code': '35010', 'Number_of_Households': '7987', 'Percentage_of_Households_Less_than_$10,000': '8.8', 'Percentage_of_Households_$10,000-$14,999': '7.6', 'Percentage_of_Households_$15,000-$24,999': '13.7', 'Percentage_of_Households_$25,000-$34,999': '12.0', 'Percentage_of_Households_$35,000-$49,999': '13.2', 'Percentage_of_Households_$50,000-$74,999': '18.9', 'Percentage_of_Households_$75,000-$99,999': '10.1', 'Percentage_of_Households_$100,000-$149,999': '9.4', 'Percentage_of_Households_$150,000-$199,999': '3.2', 'Percentage_of_Households_$200,000_or_more': '3.1', 'Median_income': '41954', 'Mean_income': '59677'}, {'Zip_Code': '35013', 'Number_of_Households': '17', 'Percentage_of_Households_Less_than_$10,000': '100.0', 'Percentage_of_Households_$10,000-$14,999': '0.0', 'Percentage_of_Households_$15,000-$24,999': '0.0', 'Percentage_of_Households_$25,000-$34,999': '0.0', 'Percentage_of_Households_$35,000-$49,999': '0.0', 'Percentage_of_Households_$50,000-$74,999': '0.0', 'Percentage_of_Households_$75,000-$99,999': '0.0', 'Percentage_of_Households_$100,000-$149,999': '0.0', 'Percentage_of_Households_$150,000-$199,999': '0.0', 'Percentage_of_Households_$200,000_or_more': '0.0', 'Median_income': '-', 'Mean_income': '-'}, {'Zip_Code': '35014', 'Number_of_Households': '1655', 'Percentage_of_Households_Less_than_$10,000': '6.5', 'Percentage_of_Households_$10,000-$14,999': '12.4', 'Percentage_of_Households_$15,000-$24,999': '6.3', 'Percentage_of_Households_$25,000-$34,999': '17.6', 'Percentage_of_Households_$35,000-$49,999': '11.2', 'Percentage_of_Households_$50,000-$74,999': '15.5', 'Percentage_of_Households_$75,000-$99,999': '12.3', 'Percentage_of_Households_$100,000-$149,999': '14.3', 'Percentage_of_Households_$150,000-$199,999': '1.6', 'Percentage_of_Households_$200,000_or_more': '2.3', 'Median_income': '47691', 'Mean_income': '61802'}, {'Zip_Code': '35016', 'Number_of_Households': '6496', 'Percentage_of_Households_Less_than_$10,000': '7.3', 'Percentage_of_Households_$10,000-$14,999': '5.0', 'Percentage_of_Households_$15,000-$24,999': '16.6', 'Percentage_of_Households_$25,000-$34,999': '9.7', 'Percentage_of_Households_$35,000-$49,999': '15.5', 'Percentage_of_Households_$50,000-$74,999': '14.0', 'Percentage_of_Households_$75,000-$99,999': '13.8', 'Percentage_of_Households_$100,000-$149,999': '10.2', 'Percentage_of_Households_$150,000-$199,999': '4.8', 'Percentage_of_Households_$200,000_or_more': '3.2', 'Median_income': '46157', 'Mean_income': '65972'}  ... displaying 10 of 33120 total bound parameter sets ...  {'Zip_Code': '00985', 'Number_of_Households': 12166, 'Percentage_of_Households_Less_than_$10,000': '19.9', 'Percentage_of_Households_$10,000-$14,999': '9.5', 'Percentage_of_Households_$15,000-$24,999': '18.6', 'Percentage_of_Households_$25,000-$34,999': '14.6', 'Percentage_of_Households_$35,000-$49,999': '15.4', 'Percentage_of_Households_$50,000-$74,999': '14.3', 'Percentage_of_Households_$75,000-$99,999': '4.1', 'Percentage_of_Households_$100,000-$149,999': '3.2', 'Percentage_of_Households_$150,000-$199,999': '0.1', 'Percentage_of_Households_$200,000_or_more': '0.2', 'Median_income': '26156', 'Mean_income': '33840'}, {'Zip_Code': '00987', 'Number_of_Households': 20567, 'Percentage_of_Households_Less_than_$10,000': '16.2', 'Percentage_of_Households_$10,000-$14,999': '8.4', 'Percentage_of_Households_$15,000-$24,999': '14.4', 'Percentage_of_Households_$25,000-$34,999': '13.4', 'Percentage_of_Households_$35,000-$49,999': '14.8', 'Percentage_of_Households_$50,000-$74,999': '16.7', 'Percentage_of_Households_$75,000-$99,999': '8.3', 'Percentage_of_Households_$100,000-$149,999': '5.2', 'Percentage_of_Households_$150,000-$199,999': '1.5', 'Percentage_of_Households_$200,000_or_more': '1.2', 'Median_income': '32555', 'Mean_income': '45000'})]
(Background on this error at: http://sqlalche.me/e/13/f405)